<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nickromney.certconv</string>
	<key>connections</key>
	<dict>
		<key>1578244F-EA4B-4AE1-BDC0-8A403F845B84</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DD0A0AEE-C8FF-4AAB-A2CF-9697018AB0B3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DD0A0AEE-C8FF-4AAB-A2CF-9697018AB0B3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>561D9896-70F0-42EF-940E-54F75E4518BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8C41B23A-A8FF-4E43-A2E3-C40D92575B9E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6E7B0498-7C1D-445D-8611-45D45145F721</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6E7B0498-7C1D-445D-8611-45D45145F721</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>561D9896-70F0-42EF-940E-54F75E4518BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2800335F-145A-4F75-9E69-8FF67B386AC7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A0A7D93A-8495-4996-A70E-8AF523BC83A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A0A7D93A-8495-4996-A70E-8AF523BC83A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>561D9896-70F0-42EF-940E-54F75E4518BB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>561D9896-70F0-42EF-940E-54F75E4518BB</key>
		<array/>
	</dict>
	<key>createdby</key>
	<string>Nick Romney</string>
	<key>description</key>
	<string>Launch certconv from Alfred, or search for a certificate file or directory before launching it.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Certconv</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>cert</string>
				<key>subtext</key>
				<string>Open certconv in your configured terminal.</string>
				<key>text</key>
				<string>Open certconv</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>1578244F-EA4B-4AE1-BDC0-8A403F845B84</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/build-terminal-command-open.zsh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DD0A0AEE-C8FF-4AAB-A2CF-9697018AB0B3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>certf</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Search for a certificate file, then launch certconv on the selected file.</string>
				<key>title</key>
				<string>Search certificate file for certconv</string>
				<key>types</key>
				<array>
					<string>public.x509-certificate</string>
					<string>com.rsa.pkcs-12</string>
					<string>com.rsa.pkcs-7</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>8C41B23A-A8FF-4E43-A2E3-C40D92575B9E</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/build-terminal-command-file.zsh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6E7B0498-7C1D-445D-8611-45D45145F721</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>anchorfields</key>
				<true/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>daterange</key>
				<integer>0</integer>
				<key>fields</key>
				<array>
					<dict>
						<key>field</key>
						<string>kMDItemDisplayName</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
					<dict>
						<key>field</key>
						<string>kMDItemFinderComment</string>
						<key>not</key>
						<false/>
						<key>split</key>
						<true/>
						<key>value</key>
						<string>{query}</string>
						<key>words</key>
						<true/>
					</dict>
				</array>
				<key>includesystem</key>
				<false/>
				<key>keyword</key>
				<string>certd</string>
				<key>runningsubtext</key>
				<string></string>
				<key>scopes</key>
				<array/>
				<key>subtext</key>
				<string>Search for a directory, then launch certconv in the selected directory.</string>
				<key>title</key>
				<string>Search directory for certconv</string>
				<key>types</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.filefilter</string>
			<key>uid</key>
			<string>2800335F-145A-4F75-9E69-8FF67B386AC7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>scripts/build-terminal-command-dir.zsh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A0A7D93A-8495-4996-A70E-8AF523BC83A4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.terminalcommand</string>
			<key>uid</key>
			<string>561D9896-70F0-42EF-940E-54F75E4518BB</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Keywords:

cert
  Open certconv in your configured terminal.

certf &lt;query&gt;
  Search for a certificate file, then launch certconv on the selected file.

certd &lt;query&gt;
  Search for a directory, then launch certconv in the selected directory.

The terminal app comes from Alfred's global Terminal / Shell preference. If Alfred is configured to use Ghostty, this workflow follows that.

If certconv is not on PATH, set certconv_bin to the absolute path of your binary.</string>
	<key>uidata</key>
	<dict>
		<key>1578244F-EA4B-4AE1-BDC0-8A403F845B84</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>DD0A0AEE-C8FF-4AAB-A2CF-9697018AB0B3</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>8C41B23A-A8FF-4E43-A2E3-C40D92575B9E</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>6E7B0498-7C1D-445D-8611-45D45145F721</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>2800335F-145A-4F75-9E69-8FF67B386AC7</key>
		<dict>
			<key>xpos</key>
			<real>60</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>A0A7D93A-8495-4996-A70E-8AF523BC83A4</key>
		<dict>
			<key>xpos</key>
			<real>300</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>561D9896-70F0-42EF-940E-54F75E4518BB</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>/absolute/path/to/certconv</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Optional override for the certconv binary path. Use this if certconv is not installed on PATH. Example: /Users/you/Developer/personal/certconv/bin/certconv</string>
			<key>label</key>
			<string>certconv binary path</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>certconv_bin</string>
		</dict>
	</array>
	<key>version</key>
	<string>1.4.0</string>
	<key>webaddress</key>
	<string>https://github.com/nickromney/certconv</string>
</dict>
</plist>
